<!DOCTYPE html>
<html lang="en">
<head>
    <title>Fantasy Hockey Selector</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="assets/logos/nhl_logo.svg">
    <!-- Load jquery, bootstrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- Custom CSS -->

    <!-- for server -->
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    

    <!-- FOR TESTING ONLY -->
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">

    <!-- Custom CSS End -->

</head>

<body>
  <div class="parent">
    <div class="row opacity">
            <div id="left_column" class="column center_horizontal" style="background-color:#1f1f1f;">
                <div id="player_rank_grid" class="grid_3x3">
                    <div  class="card">
                        <img id="card1" src="https://cms.nhl.bamgrid.com/images/headshots/current/168x168/8478402@2x.jpg" class="image_fullw">
                        <img src="../assets/logos/logo_edm.svg" class="image_upper_right"><br>
                        <p>Score: </p>
                    </div>
                </div>
            </div>
    
            <div class="column center_horizontal" style="background-color:#000000;">
              <div id="right_column" class="grid_2x2">
              </div>
          </div>
    </div>
    <div class="logo"> <img src="../assets/logos/logo_edm.svg" class="image_l">  </div>
    
    <a href="/fantasy">
      <button class="fantasy_button button">
        <div class="relative">
          <h1 class="title_translate">Fantasy</h1> 
          <div class="overlay"> 
            <div class="list">
              <ul>
                <li>Search players by name</li>
                <li>View current category leaders</li>
                <li>Compare player stats</li>
                <li>View stats by year</li>
              </ul>
            </div> 
          </div> 
        </div>
      </button>
    </a>

    <a href="/stats">
      <button class="stats_button button">
        <div class="relative">
          <h1 class="title_translate">Stats</h1> 
          <div class="overlay"> 
            <div class="list">
              <ul>
                <li>Search players by name</li>
                <li>View current category leaders</li>
                <li>Compare player stats</li>
                <li>View stats by year</li>
              </ul>
            </div> 
          </div> 
        </div>
      </button>
    </a>


  </div>
    
    <!-- js script import -->
    <script type="text/javascript" th:src="@{/js/index.js}"></script>

</body>
</html>