<!DOCTYPE html>
<html lang="en">
<head>
    <title>Fantasy Hockey Selector</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="https://www-league.nhlstatic.com/images/logos/league-dark/133-flat.svg">
    <!-- Load jquery, bootstrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- Custom CSS -->
    <link th:href="@{/css/stats.css}" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <!-- Custom CSS End -->

</head>

<body>
    <!-- Navigation Bar-->
    <div class="topnav">
        <a href="/" float="left"><img src="https://www-league.nhlstatic.com/images/logos/league-dark/133-flat.svg" class="image_xs"></a>
        <a href="/fantasy" float="left" >Fantasy</a>
        <a href="/stats" float="left">Stats</a>
    </div>
    
    <div class="tableFixHead topMargin pTable">
        <table>
          <thead>
            <tr>
              <th style="min-width: 125px;" >Player</th>
              <th style="min-width: 150px;" >Season</th>
              <th style="min-width: 150px;" >Team</th>
              <th style="min-width: 125px;" >Pos</th>
              <th style="min-width: 125px;" >GP</th>
              <th style="min-width: 125px;" >G</th>
              <th style="min-width: 125px;" >A</th>
              <th style="min-width: 125px;" >P</th>
              <th style="min-width: 125px;" >+/-</th>
              <th style="min-width: 125px;" >PIM</th>
              <th style="min-width: 125px;" >P/GP</th>
              <th style="min-width: 125px;" >S</th>
              <th style="min-width: 125px;" >S%</th>
              <th style="min-width: 125px;" >TOI/GP</th>
              <th style="min-width: 125px;" >FOW%</th>
              <th style="min-width: 125px;" >H</th>
              <th style="min-width: 125px;" > B</th>
            </tr>
          </thead>
          <tbody id="playerTable">
          </tbody>
        </table>
      </div>
    <!-- js script import -->
    <script src="/js/stats.js"></script>
</body>
</html>